body {
    background-color: rgb(221, 179, 242);
}

h1,
h2,
caption{
    margin: 30px;
    color: rgb(115, 79, 133);
    font-size: 30px;
    text-align: center;
}

p,
ul,
ol, legend {
    margin: auto;
    color: rgb(250, 212, 240);
    font-size: 20px;
}

.header {
    display: flex; /* Используем Flexbox для контейнера */
    align-items: center; /* Выравнивание по вертикали */
    padding: 10px;
    background-color: rgb(115, 79, 133);
    border-radius: 15px;
}

.links {
    display: flex; /* для расположения ссылок в одну строку */
}

.links a {
    margin-right: 10px; /* отступ между ссылками */
    color: rgb(115, 79, 133); 
    text-decoration: none; /* убирает подчеркивание */
}
.text {
    margin: auto;
    font-size: 50px;
    color: rgb(250, 212, 240);
}

a.redbl:link {
    background-color: rgb(250, 212, 240);
    margin: 10px;
    display: flex;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    font-size: 30px;
    text-decoration: none;
}
a.redbl:hover {
    background-color: rgb(221, 179, 242);
    margin: 10px;
    display: flex;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    font-size: 30px;
} 
table,th,td{
    border: 2px solid rgb(221, 179, 242) ;
    border-collapse: collapse;
    border-radius: 5px;
    color:  rgb(250, 212, 240);
    font-size: 20px;
    padding: 100px;
}
th{
    background-color:rgb(155, 107, 179);
    text-align: left;
    padding: 10px;
}
td{
    background-color:rgb(205, 157, 229);
    text-align: left;
    padding: 10px;
}
td:hover{
    background-color:rgb(195, 147, 219);
}
form{
    background-color:rgb(165, 117, 189);
    height: 380px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding: 20px;
    border-radius: 15px;
}
.content {
    display: flex;
    margin: 30px;
}

input,button{
    background-color:rgb(250, 212, 240);
    border-radius: 10px;
    height: 25px;
    width: 450px;
    border: none;
    outline: none;
    padding: 0px 5px;
    margin: 10px 0px;

    color:rgb(165, 117, 189);
    font-size: 20px;
}
input:hover,button:hover{
    background-color: rgb(221, 179, 242);
    margin: 10px 0px;
    padding: 0px 5px;
    border-radius: 10px;
}

label{
    color:rgb(250, 212, 240);
    font-size: 20px;
}
input[type="checkbox"] {
    width: 15px; 
    margin-right: 5px;
}
.checkbox-container {
    display: flex; 
    align-items: center; 
}
