body {
    background-color: rgb(221, 179, 242);
}

h1,
h2,
caption {
    margin: 30px;
    color: rgb(115, 79, 133);
    font-size: 30px;
    text-align: center;
}

p,
ul,
ol {
    margin: auto;
    color: rgb(250, 212, 240);
    font-size: 20px;
}

.header {
    display: flex; /* Используем Flexbox для контейнера */
    align-items: center; /* Выравнивание по вертикали */
    padding: 10px;
    background-color: rgb(115, 79, 133);
    border-radius: 15px;
}

.links {
    display: flex; /* для расположения ссылок в одну строку */
}

.links a {
    margin-right: 10px; /* отступ между ссылками */
    color: rgb(115, 79, 133); 
    text-decoration: none; /* убирает подчеркивание */
}
.text {
    margin: auto;
    font-size: 50px;
    color: rgb(250, 212, 240);
}
table{
    color:  rgb(250, 212, 240);
    font-size: 20px;
    padding: 100px;
}

